<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CredentialManagement" version="1.0.2" targetFramework="net472" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net472" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net472" />
  <package id="GoogleAnalyticsTracker.Core" version="4.6.7" targetFramework="net472" />
  <package id="GoogleAnalyticsTracker.Simple" version="4.6.7" targetFramework="net472" />
  <package id="Harvester.Core" version="2.1.1.0" targetFramework="net472" />
  <package id="Harvester.Integration.NLog" version="2.1.1.0" targetFramework="net472" />
  <package id="MvvmCross" version="7.1.2" targetFramework="net472" />
  <package id="MvvmCross.Binding" version="5.6.3" targetFramework="net472" />
  <package id="MvvmCross.Core" version="5.6.3" targetFramework="net472" />
  <package id="MvvmCross.Platform" version="5.6.3" targetFramework="net472" />
  <package id="MvvmCross.Platforms.Wpf" version="7.1.2" targetFramework="net472" />
  <package id="MvvmCross.Plugin.Messenger" version="5.6.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="NLog" version="4.5.10" targetFramework="net472" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_sqlcipher" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.sqlcipher.linux" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.sqlcipher.osx" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.sqlcipher.windows" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.sqlcipher.net45" version="1.1.11" targetFramework="net472" />
  <package id="System.Console" version="4.3.1" targetFramework="net472" />
  <package id="VisionHealth.Authentication.Models" version="2.0.100" targetFramework="net472" />
  <package id="VisionHealth.Component.Analytics" version="2.0.26" targetFramework="net472" />
  <package id="VisionHealth.Component.Authentication" version="2.0.1014" targetFramework="net472" />
  <package id="VisionHealth.Component.AuthenticationUI" version="2.0.1014" targetFramework="net472" />
  <package id="VisionHealth.Component.ClientDataCache" version="2.0.30" targetFramework="net472" />
  <package id="VisionHealth.Component.Diagnostics" version="2.0.10" targetFramework="net472" />
  <package id="VisionHealth.Component.EndpointMonitor" version="2.1.22" targetFramework="net472" />
  <package id="VisionHealth.Component.FileSystem" version="2.0.49" targetFramework="net472" />
  <package id="VisionHealth.Component.HttpInteractivity" version="2.0.103" targetFramework="net472" />
  <package id="VisionHealth.Component.KeyManagement" version="2.0.1000" targetFramework="net472" />
  <package id="VisionHealth.Component.Logging" version="2.0.41" targetFramework="net472" />
  <package id="VisionHealth.Component.Scheduler" version="2.0.12" targetFramework="net472" />
  <package id="VisionHealth.Component.UICommon" version="2.0.194" targetFramework="net472" />
  <package id="VisionHealth.Component.UIThemes" version="2.0.76" targetFramework="net472" />
  <package id="VisionHealth.Component.UserInteraction" version="2.0.69" targetFramework="net472" />
  <package id="VisionHealth.Core" version="2.0.41" targetFramework="net472" />
  <package id="VisionHealth.Core.VisionMvx" version="2.0.39" targetFramework="net472" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net472" />
</packages>